:root { --slate:#fff; --text:#2e3436; --hover:#E3DB88; --active:#01A1FC; --shade:rgba(0,0,0,.22); }

html { font-family:system-ui, "Segoe UI", "San Francisco", sans-serif; font-size:100%; }
@supports ( font-variation-settings:'wght' 500, 'wdth' 50, 'opsz' 20, 'GRAD' 90) { html { font-family: "League Spartan Variable"; } }
body { margin:0; background:var(--slate); color:var(--text); text-align:center; scroll-behavior:smooth; display:grid; grid:'header' 'nav' 'main' 'ft'; grid-gap:2rem .5rem; }
* { box-sizing: border-box; }


.sans { font-family:system-ui, "League Spartan Variable", "Segoe UI", "San Francisco", sans-serif; }
.serif { font-family:system-ui, "URW Bookman L", "Times New Roman", "New York", serif; }

h1, h2, h3, h4, h5 {  }

hr { height:1px; border:0; border-top:.1rem solid var(--shade); }

.onlyScreen { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }
.onlyScreen.focusable:active, .onlyScreen.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

a { background-color: transparent; }
a:active, a:hover { outline: 0; }

header { grid-area:header; }
.back { display:flex; align-items:center; height:70vh; }

.back > img { padding:1rem 4rem; filter:drop-shadow(0 .15em .14em ); color:dodgerblue; }

nav { grid-area:nav; }


main { grid-area:main; outline: 0; }

article { padding:1rem 2rem; }
article h2 { font-weight:500; }
article h3 { font-weight:200; }
article p { font-weight:500; padding-bottom:4rem; }
article > img { filter:drop-shadow(0 .15em .14em ); color:dodgerblue; }



ul { display:flex; justify-content:space-around; margin:0; padding:0; position:sticky; top:1rem; background-color:var(--text); list-style-type:none; }
li a { display:block; color:var(--slate); padding:.6rem; text-decoration:none; }
li a:hover { background-color:var(--hover); color:var(--text); }

footer { grid-area:ft; background-color:var(--text); color:var(--slate); padding:2rem 0; }
footer > section { display:flex; height:15rem; align-items: center; }
footer > section > div:nth-of-type(1) { flex-grow:2; border-right:1px dashed var(--hover); padding:5rem 0; }
footer > section > div:nth-of-type(2) { flex-grow:3; padding:5rem 0; }
footer > section > div:nth-of-type(3) { flex-grow:2; border-left:1px dashed var(--hover); padding:5rem 0; }
footer > h3 > p[data=copyright] { font-weight:100; line-height:3rem; }
.plomo:after { content:'\2620'; font-size:4rem; }


@media (max-width:550px) {
	.back > img { padding:.5rem; }
	article { padding:1rem; }
	ul { flex-direction:column; }
	ul li { border-bottom:1px solid var(--shade); }
	footer > section { display:flex; flex-direction:column; }
	footer > section > div:nth-of-type(1) { flex-grow:1; border-right:0; padding:1rem 0; }
	footer > section > div:nth-of-type(2) { flex-grow:1; padding:1rem 0; }
	footer > section > div:nth-of-type(3) { flex-grow:1; border-left:0; padding:1rem 0; }
	footer h3 > span[data=copyright] { font-weight:100; line-height:3rem; }
}
